
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-size: 150%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 72% 1fr;
    grid-template-areas:
                    "header header header"
                    "div div div"
                    "footer footer footer";
    text-align: center;
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #cccccc;
    border-bottom: 1px solid black;
    position: sticky;
    z-index: 1;
    top: 0;

}

header nav {
    flex-grow: 1;
}

img {
    width: 150px;
    /*padding: 5px;*/
}

header a,
footer a {
    padding: 1rem;
}

a:hover,
.dropdown {
    cursor: pointer;
    text-decoration: underline;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar {
    overflow: hidden;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: lightgrey;
    border-radius: 7px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 7px;
    z-index: 1;
    overflow-y: auto;
    height: 200px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header ul,
footer ul {
    padding: 1em;
    justify-content: center;
    flex-wrap: wrap;
}

li:hover {
    cursor: pointer;
    text-decoration: underline;
}

div {
    grid-area: div;
}

header li,
footer li {
    padding: 1rem;
}

footer {
    grid-area: footer;
    background-color: gray;
    bottom: 0;
    border-top: 1px solid black;
    position: sticky;
}